{% extends "base.html" %}
{% load thumbnail %}
{% load cache %}

{% block content %}
  {% include 'includes/switcher.html' %}
  {% cache 20 index_page with page %}
  {% for post in page_obj %}
    {% if post.group %}   
        <a href="{% url 'posts:group_list' post.group.slug %}">
          все записи группы
        </a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %} 
    {% include 'posts/includes/card_post.html' with profile_link_flag=True group_link_flag=True %}
  {% endfor %}
  {% endcache %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %} 
